// SPDX-License-Identifier: GPL-2.0-only
/*
 *  Copyright (C) 2012 Marvell Technology Group Ltd.
 *  Author: Haojian Zhuang <haojian.zhuang@marvell.com>
 */

/dts-v1/;
#include "pxa168.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Chumby Industries Chumby 8";
	compatible = "chumby,chumby8", "mrvl,pxa168-aspenite", "mrvl,pxa168";

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		bootargs = "console=ttyS0,115200 root=/dev/nfs nfsroot=192.168.1.100:/nfsroot/ ip=192.168.1.101:192.168.1.100::255.255.255.0::eth0:on";
	};

	aliases {
		mmc0 = &sdhci3;
		mmc1 = &sdhci2;
	};

	memory {
		reg = <0x00000000 0x08000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* Reserved memory for display. This also includes the startup framebuffer */
		framebuffer@6000000 {
			compatible = "marvell,armada-framebuffer";
			reg = <0x06000000 0x01000000>;
			no-map;
		};
	};

	soc {
		apb@d4000000 {
			/* Note: Mapped to same address as UART3 */
			reset: reset@d4026000 {
				compatible = "chumby,chumby8-reboot-controller";
				reg = <0xd4026000 0x1000>;
				clocks = <&soc_clocks PXA168_CLK_UART2>;
				resets = <&soc_clocks PXA168_CLK_UART2>;
				status = "okay";
			};
		};
	};

	reg_backlight: regulator-backlight {
		compatible = "regulator-fixed";
		regulator-name = "backlight-fixed-supply";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-always-on;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm2_pins_default>;
		/* 5,000,000 nanoseconds = 200 hz */
		pwms = <&pwm2 5000000>;
		power-supply = <&reg_backlight>;
		status = "okay";

		brightness-levels = <0 4 8 16 32 48 64 96 128 192 255>;
		default-brightness-level = <5>;
	};

	ssp_dai0: ssp-dai0 {
		compatible = "mrvl,pxa168-ssp-dai";
		pinctrl-names = "default";
		pinctrl-0 = <&ssp1_pins_default>;
		port = <&ssp1>;
		#sound-dai-cells = <0>;
		dmas = <&dma 52 2
			&dma 53 2>;
		dma-names = "rx", "tx";
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Chumby Speaker";
		simple-audio-card,widgets =
			"Microphone", "Internal Mic",
			"Headphone", "Headphones",
			"Speaker", "Speaker";
		simple-audio-card,routing =
			"LINPUT", "Internal Mic",
			"LINPUT", "MICBIAS",
			"Headphones", "HP_L",
			"Headphones", "HP_R",
			"Speaker", "SPK_LN",
			"Speaker", "SPK_LP",
			"Speaker", "SPK_RN",
			"Speaker", "SPK_RP";
		simple-audio-card,hp-det-gpio = <&gpio 97 GPIO_ACTIVE_LOW>;
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "left_j";
			bitclock-master = <&dailink_master_analog>;
			frame-master = <&dailink_master_analog>;
			mclk-fs = <256>;

			dailink_master_analog: cpu {
				sound-dai = <&ssp_dai0>;
			};

			codec {
				sound-dai = <&wm8961>;
			};
		};
	};

	reg_lcd: regulator-lcd {
		compatible = "regulator-fixed";
		regulator-name = "LCD_VCC";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	panel: panel {
		compatible = "auo,a080sn01-r8-chumby";
		/*TODO: Figure out why uncommenting this line results in a black screen
		 *at startup*/
		/*backlight = <&backlight>;*/
		power-supply = <&reg_lcd>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&lcd0_rgb>;
			};
		};
	};
};

&dma {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&sdhci3 {
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

&sdhci2 {
	pinctrl-names = "default", "state_cmd_gpio";
	pinctrl-0 = <&sdhci2_pins_default>;
	pinctrl-1 = <&sdhci2_pins_cmd_gpio>;
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

&usb_host_phy {
	status = "okay";
};

&usb_host {
	status = "okay";
};

&pinctrl {
	/* Pin config for default SDHCI state (GPIO94 = SDIO CMD) */
	sdhci2_pins_default: sdhci2cmd_default {
		pinctrl-single,pins = <
			MFP_PIN_PXA168(94) MFP_AF1
		>;
	};

	/* Pin config for card IRQ fix state (GPIO94 = high GPIO output) */
	sdhci2_pins_cmd_gpio: sdhci2cmd_gpio {
		pinctrl-single,pins = <
			MFP_PIN_PXA168(94) MFP_AF0
		>;
	};

	/* Pin config for SSP2 -- touchscreen. Leave CS as normal GPIO so we have
	 * finer control over its timing, at the expense of efficiency. */
	ssp2_pins_default: ssp2default {
		pinctrl-single,pins = <
			MFP_PIN_PXA168(118) MFP_AF1
			MFP_PIN_PXA168(120) MFP_AF1
			MFP_PIN_PXA168(121) MFP_AF1
			MFP_PIN_PXA168(119) MFP_AF0
		>;
	};

	pwm2_pins_default: pwm2default {
		pinctrl-single,pins = <
			MFP_PIN_PXA168(84) MFP_AF2
		>;
	};

	/* Pin config for SSP1 -- audio interface */
	ssp1_pins_default: ssp1default {
		pinctrl-single,pins = <
			MFP_PIN_PXA168(113) MFP_AF6
			MFP_PIN_PXA168(114) MFP_AF1
			MFP_PIN_PXA168(115) MFP_AF1
			MFP_PIN_PXA168(116) MFP_AF2
			MFP_PIN_PXA168(117) MFP_AF2
		>;
	};
};

&ssp1 {
	status = "okay";
	/* In order to use with generic I/O core instead of SPI */
	compatible = "mvrl,pxa168-ssp";
	dmas = <&dma 52 2
		&dma 53 2>;
};

&ssp2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&ssp2_pins_default>;
	cs-gpios = <&gpio 119 GPIO_ACTIVE_LOW>;

	spidev@0 {
		compatible = "chumby,chumby8ts";
		reg = <0>;
		spi-max-frequency = <6500000>;
		pendown-gpio = <&gpio 52 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&gpio>;
		interrupts = <52 IRQ_TYPE_EDGE_RISING>;
		touchscreen-inverted-y;
		touchscreen-swapped-x-y;
	};
};

&pwm2 {
	status = "okay";
};

&twsi1 {
	status = "okay";
	clock-frequency = <100000>;

	eeprom@50 {
		compatible = "atmel,24c08";
		reg = <0x50>;
	};
};

&twsi2 {
	status = "okay";
	clock-frequency = <100000>;

	wm8961: codec@4a {
		compatible = "wlf,wm8961";
		#sound-dai-cells = <0>;
		reg = <0x4a>;
	};
};

&gpio {
	sdhci2_cmd_gpio {
		gpio-hog;
		gpios = <94 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sdhci2_cmd";
	};
};

&lcd0 {
	status = "okay";
	preserve-startup-fb;
	output-format = "rgb666_17:0";
	io-pin-allocation = "dumb_18_gpio";
	lcd0_port: port {
		lcd0_rgb: endpoint {
			remote-endpoint = <&panel_in>;
		};
	};
};

&gpu {
	status = "okay";
};
