BR2_arm=y
BR2_SSP_REGULAR=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_ARMV5_EABI_GLIBC_STABLE=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_OVERLAY="board/chumby/chumby8/rootfs-overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/chumby/chumby8/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="pxa168"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x8000"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/chumby/chumby8/pxa168-chumby8.dts"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_CHUMBY_FIRMWARE=y
BR2_PACKAGE_CHUMBY_FIRMWARE_C8_OBM_BIN=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-O ^64bit,^metadata_csum"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/dougg3/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="f749429227662919d687245f852ce79a470a8f70"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="chumby8"
BR2_PACKAGE_HOST_GENIMAGE=y
