// SPDX-License-Identifier: GPL-2.0-only
/*
 *  Copyright (C) 2012 Marvell Technology Group Ltd.
 *  Author: Haojian Zhuang <haojian.zhuang@marvell.com>
 */

/dts-v1/;
#include "pxa168.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Chumby Industries Chumby 8";
	compatible = "chumby,chumby8", "mrvl,pxa168-aspenite", "mrvl,pxa168";

	chosen {
		bootargs = "console=ttyS0,115200 root=/dev/nfs nfsroot=192.168.1.100:/nfsroot/ ip=192.168.1.101:192.168.1.100::255.255.255.0::eth0:on";
	};

	aliases {
		mmc0 = &sdhci3;
		mmc1 = &sdhci2;
	};

	memory {
		reg = <0x00000000 0x08000000>;
	};

	soc {
		apb@d4000000 {
			/* Note: Mapped to same address as UART3 */
			reset: reset@d4026000 {
				compatible = "chumby,chumby8-reboot-controller";
				reg = <0xd4026000 0x1000>;
				clocks = <&soc_clocks PXA168_CLK_UART2>;
				resets = <&soc_clocks PXA168_CLK_UART2>;
				status = "okay";
			};
		};
	};
};

&uart1 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&sdhci3 {
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

&sdhci2 {
	pinctrl-names = "default", "state_sdio_irq_fix";
	pinctrl-0 = <&sdhci2_pins_default>;
	pinctrl-1 = <&sdhci2_pins_card_irq_fix>;
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

&usb_host_phy {
	status = "okay";
};

&usb_host {
	status = "okay";
};

&pinctrl {
	/* Pin config for default SDHCI state (GPIO94 = SDIO CMD) */
	sdhci2_pins_default: sdhci2cmd_default {
		pinctrl-single,pins = <
			MFP_PIN_PXA168(94) MFP_AF1
		>;
	};

	/* Pin config for card IRQ fix state (GPIO94 = high GPIO output) */
	sdhci2_pins_card_irq_fix: sdhci2cmd_irqfix {
		pinctrl-single,pins = <
			MFP_PIN_PXA168(94) MFP_AF0
		>;
	};
};

&gpio {
	sdhci2_cmd_gpio {
		gpio-hog;
		gpios = <94 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sdhci2_cmd";
	};
};
