// SPDX-License-Identifier: GPL-2.0-only
/*
 *  Copyright (C) 2012 Marvell Technology Group Ltd.
 *  Author: Haojian Zhuang <haojian.zhuang@marvell.com>
 */

/dts-v1/;
#include "pxa168.dtsi"

/ {
	model = "Chumby Industries Chumby 8";
	compatible = "chumby,chumby8", "mrvl,pxa168";

	chosen {
		bootargs = "console=ttyS0,115200 root=/dev/nfs nfsroot=192.168.1.100:/nfsroot/ ip=192.168.1.101:192.168.1.100::255.255.255.0::eth0:on";
	};

	memory {
		reg = <0x00000000 0x08000000>;
	};
};

&uart1 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&rtc {
	status = "okay";
};

&sdhci3 {
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

&sdhci2 {
	non-removable;
	no-1-8-v;
	bus-width = <4>;
	max-frequency = <24000000>;
	cap-sd-highspeed;
	status = "okay";
};

&usb_host_phy {
	status = "okay";
};

&usb_host {
	status = "okay";
};
